<!DOCTYPE html>
<!--
 메인 레이아웃 템플릿
 - 구현할 모든 페이지의 공통 뼈대(헤더/푸터/CSS)를 여기서 단 한번만 적용
 - 각 페이지는 이 레이아웃을 상속받아 content 영역만 채워넣으면 된다.
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Main Layout</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <!-- th:replace : 현재 태그를 지정한 fragments로 교체 -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- Content 영역은 페이지에 따라 변경 -->
    <div layout:fragment="content"></div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>